.IngredientList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

    .IngredientListItem {
        display: flex;
        margin: 0 10px;

        .IngredientListText {
            margin: 0 2.5px;
        }
    }
}

/* media query tablet */
$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
    .IngredientList {
        
        .IngredientListItem {
            justify-content: start;
            margin: 0 10px;
        }
    }
}