.PaxInputWrapperParent {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

/* media query tablet */
$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {

    .PaxInputWrapperParent {
        justify-content: start;
        margin: 0 50px;
    }
}