.IngredientWrapperParent {
    width: 100%;

    .recipeNameParent {
        width: 100%;
        display: flex;
        justify-content: center;
        
        .recipeName {
            font-size: 30px;
        }
    }
}

/* media query tablet */
$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
    
    .IngredientWrapperParent {

        .recipeNameParent {
            display: none;
        }
    }
}